<div class = "container">
  <h1><%= @representative.name %></h1>
  <img src = "<%= @representative.photoUrl %>" alt="<%= @representative.name %>">
  <p>Title: <%= @representative.title %></p>
  <p>Party: <%= @representative.party %></p>
  <p>Address: <%= @representative.street %>, <%= @representative.city %>, <%= @representative.state%>
</div>
