= form_for NewsItem.new, url: representative_my_news_item_fetch_articles_path(params[:representative_id]), method: :post do |f|
  %h1.text-center Edit News Item
  %h5.text-center Representative: #{@representative.name}
  %h5.text-center Issue: #{@issue}
  - if @articles.present?
    - @articles.each do |article|
      .article
        %ul
          = f.radio_button :selected_article_url, article.url
          = f.label :selected_article_url, "Select this article"
          %li= article.title
          %li
            %a{ href: article.url, target: "_blank" }= article.url
          %li= article.description
       
  - else
    %p No articles found
  .col-sm-1.mx-auto
    = f.submit "Save", class: 'btn btn-primary' 
