= form_for NewsItem.new, url: representative_my_news_items_path(params[:representative_id]), method: :post do |f|
  - if @articles.present?
    - @articles.each do |article|
      .article
        = f.radio_button :selected_article_url, article.url
        = f.label :selected_article_url, "#{article.title} - #{article.description}"
  - else
    %p No articles found
  = f.submit "Save"